In [ ]:
import pandas as pd
import numpy as np

# Compare CPI Score and Happiness Score

### There are only overlapping data for 2015 and 2016

In [2]:
df0 = pd.read_csv('history.csv',engine='python')
df0.head()

,CPI 2016 Rank,Country,Country Code,Region,CPI 2016 Score,CPI 2015 Score,CPI 2014 Score,CPI 2013 Score,CPI 2012 Score
0,1,New Zealand,NZL,Asia Pacific,90,88.0,91.0,91.0,90.0
1,1,Denmark,DNK,Europe and Central Asia,90,91.0,92.0,91.0,90.0
2,3,Finland,FIN,Europe and Central Asia,89,90.0,89.0,89.0,90.0
3,4,Sweden,SWE,Europe and Central Asia,88,89.0,87.0,89.0,88.0
4,5,Switzerland,CHE,Europe and Central Asia,86,86.0,86.0,85.0,86.0

In [3]:
df1 = pd.read_csv('2015.csv',engine='python')
df1.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [4]:
df2 = pd.read_csv('2016.csv',engine='python')
df2.head()

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

## Find the correlation between Happiness Score in 2015 and CPI 2015 Score

In [5]:
df3=df0[['Country','CPI 2015 Score']]

In [6]:
df4=df1[['Country', 'Happiness Score']]

In [7]:
df5= pd.merge(left = df4, right = df3,how= 'inner',left_on='Country', right_on='Country')
df5.head()

       Country  Happiness Score  CPI 2015 Score
0  Switzerland            7.587            86.0
1      Iceland            7.561            79.0
2      Denmark            7.527            91.0
3       Norway            7.522            87.0
4       Canada            7.427            83.0

In [8]:
#The correlation between Happiness Score in 2015 and CPI 2015 Score: 0.67
corr1 = df5.corr(method = 'pearson')
print(corr1)

                 Happiness Score  CPI 2015 Score
Happiness Score         1.000000        0.670004
CPI 2015 Score          0.670004        1.000000

## Find the correlation between Happiness Score in 2016 and CPI 2016 Score

In [9]:
df6=df0[['Country','CPI 2016 Score']]

In [10]:
df7=df2[['Country', 'Happiness Score']]

In [12]:
df8= pd.merge(left = df7, right = df6,how= 'inner',left_on='Country', right_on='Country')
df8.head()

       Country  Happiness Score  CPI 2016 Score
0      Denmark            7.526              90
1  Switzerland            7.509              86
2      Iceland            7.501              78
3       Norway            7.498              85
4      Finland            7.413              89

In [13]:
#The correlation between Happiness Score in 2016 and CPI 2016 Score: 0.68
corr2 = df8.corr(method = 'pearson')
print(corr2)

                 Happiness Score  CPI 2016 Score
Happiness Score          1.00000         0.67599
CPI 2016 Score           0.67599         1.00000